/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.scrollbar-thin {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937; /* Firefox */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 12px; /* Chrome, Safari */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #4b5563, #6b7280);
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: background 0.3s ease, transform 0.3s ease; /* Add transform transition */
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #6b7280, #4b5563);
  transform: scale(1.1); /* Slightly enlarge the thumb on hover */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 10px;
}

/* Global styles for section animations */
.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

/* Keyframes for swipe animations */
@keyframes swipe-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes swipe-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-swipe-left {
  animation: swipe-left 0.3s ease forwards;
}

.animate-swipe-right {
  animation: swipe-right 0.3s ease forwards;
}
